* {
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
}

.descriptionContainer {
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(9, 175, 164);

  color: #fff;
  }
  
  .descriptionContainer .contentContainer {
  width: 700px;
  text-align: justify;
  }
  
  .descriptionContainer .contentContainer h1 {
  font-weight: normal;
  padding-top: 70px;
  margin: 0;
  text-align: center;
  font-size: 42px;
  }
  
  .descriptionContainer .contentContainer h4 {
  font-weight: normal;
  line-height: 1.5;
  font-size: 20px;
  }
  
  .descriptionContainer .contentContainer .socialContainer {
  display: flex;
  justify-content: center;
  }
  
  .descriptionContainer .contentContainer .socialContainer a {
  color: inherit;
  text-decoration: none;
  }
  
  .descriptionContainer .contentContainer .socialContainer .icon {
  cursor: pointer;
  width: 30px;
  margin: 0 20px;
  }
  
  .descriptionContainer .contentContainer .socialContainer .icon:hover {
  color: #ffd035;
  }
  
  @media (max-width: 800px) {
  .descriptionContainer .contentContainer {
  width: 90%;
  }
  
  .descriptionContainer .contentContainer h3 {
  font-size: 30px;
  padding-top: 0;
  }
  
  .descriptionContainer .contentContainer h4 {
  font-size: 16px;
  margin-top: 40px;
  }
  }

nav {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 70px;
  z-index: 10;
  background-color: #fff;

  border-bottom: 1px solid #1d1e22;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

ul a {
  color: inherit;
  text-decoration: none;
}

ul li {
  margin: 0 30px;
  border-bottom: 2px solid transparent;
  position: relative;
}

ul li:after {
  content: "";
  position: absolute;
  height: 3px;
  right: 0;
  bottom: -0.5em;
  left: auto;
  width: 0;
  transition: width 250ms ease;
}

ul li:hover {
  cursor: pointer;
}

ul li:hover:after {
  left: 0;
  width: 100%;
  right: auto;
}

ul h2 {
  margin: 0 30px;
  font-weight: 500;
  color: rgb(9, 175, 164);

}

@media (max-width: 800px) {
  ul {
    margin: 0;
    padding: 0;
  }

  ul li {
    display: none;
  }
}

.experienceCardContainer {
  width: 350px;
  height: 200px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background-color: #fff;
  margin-bottom: 100px;
}

.experienceCardContainer .date {
  margin: 0;
  margin-top: 10px;
  padding: 0;
  color: gray;
  font-size: 12px;
}

.experienceCardContainer .imgContainer {
  min-width: 100px;
  height: 50px;
  text-align: center;
  display: flex;
  align-items: center;
}

.experienceCardContainer .imgContainer h5 {
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  margin-left: 10px;
}

.experienceCardContainer .imgContainer img {
  max-width: 100px;
  max-height: 50px;
}

@media (max-width: 800px) {
  .experienceCardContainer {
    margin-bottom: 20px;
  }
}

.experienceContainer {
  width: 1200px;
  margin: auto;
}
.experienceContainer h4 {
  text-align: center;
  font-weight: normal;
  line-height: 1.5;
  font-size: 32px;

}
.experienceContainer .experienceContentContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.experienceContainer .experienceContentContainer .line {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 100px;
  background-color: rgb(9, 175, 164);
  z-index: 1;
}
.experienceContainer .experienceContentContainer .verticalLine {
  position: absolute;
  height: 500px;
  width: 2px;
  right: 172px;
  background-color:rgb(9, 175, 164);
  z-index: 1;
}
.experienceContainer .experienceContentContainer .secondLine {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 400px;
  background-color: rgb(9, 175, 164);
  z-index: 1;
}
@media (max-width: 800px) {
  .experienceContainer {
    width: 100%;
  }
  .experienceContainer .experienceContentContainer {
    justify-content: center;
  }

}

.link {
  color: inherit;
  text-decoration: none;
  margin-bottom: 30px;
  }
  
  .articleContainer {
  max-width: 350px;
  height: 320px;
  border-radius: 5px;
  overflow: hidden;
  margin: 0 10px;
  background-color: #fff;
  }
  
  .articleContainer img {
  object-fit: cover;
  width: 100%;
  height: 150px;
  background-size: cover;
  border-radius: 5px 5px 0 0;
  }
  
  .articleContainer .content {
  margin: 5px 20px 20px 20px;
  }
  
  .articleContainer .content h5 {
  font-size: 16px;
  font-weight: normal;
  }
  
  .articleContainer .content p {
  line-height: 1.5;
  font-size: 10px;

  }

  .articleContainer .hashtags p {
    line-height: 1.5;
    font-size: 12px;
    margin: 5px 20px 20px 20px;
    font-family: "Roboto Mono";
    color: rgb(9, 175, 164); 
    }
  
  @media (max-width: 800px) {
  .articleContainer {
  margin-bottom: 20px;
  max-width: 100%;
  width: 100%;
  }
  }

  .articlesContainer {
    max-width: 1200px;
    margin: auto;
    flex-wrap: wrap;
    }
    
    .articlesContainer h4 {
      text-align: center;
      font-weight: normal;
      line-height: 1.5;
      font-size: 32px;
    }
    
    .articlesContainer .articlesContentContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    }
    
    @media (max-width: 800px) {
    .articlesContainer {
    width: 100%;
    }
    .articlesContainer .articlesContentContainer {
    display: block;
    }
    }

    .articuloContainer {
      max-width: 350px;
      height: 320px;
      border-radius: 5px;
      overflow: hidden;
      margin: 0 10px;
      background-color: #fff;
      }
      
      .articuloContainer img {
      object-fit: cover;
      width: 100%;
      height: 150px;
      background-size: cover;
      border-radius: 5px 5px 0 0;
      }
      
      .articuloContainer .content {
      margin: 5px 20px 20px 20px;
      }
      
      .articuloContainer .content h5 {
      font-size: 16px;
      font-weight: normal;
      }
      
      .articuloContainer .content p {
      line-height: 1.5;
      font-size: 10px;
    
      }
    
      .articuloContainer .hashtags p {
        line-height: 1.5;
        font-size: 12px;
        margin: 5px 20px 20px 20px;
        font-family: "Roboto Mono";
        color: rgb(9, 175, 164); 
        }
      
      @media (max-width: 800px) {
      .articuloContainer {
      margin-bottom: 20px;
      max-width: 100%;
      width: 100%;
      }
      }
    
      .articulosContainer {
        max-width: 1200px;
        margin: auto;
        flex-wrap: wrap;
        }
        
        .articulosContainer h4 {
          text-align: center;
          font-weight: normal;
          line-height: 1.5;
          font-size: 32px;
        }
        
        .articulosContainer .articulosContentContainer {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        }
        
        @media (max-width: 800px) {
        .articulosContainer {
        width: 100%;
        }
        .articulosContainer .articulosContentContainer {
        display: block;
        }
        }

        .academicoCardContainer {
          width: 350px;
          height: 200px;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          border-radius: 15px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          z-index: 2;
          background-color: #fff;
          margin-bottom: 100px;
        }
        
        .academicoCardContainer .date {
          margin: 0;
          margin-top: 10px;
          padding: 0;
          color: gray;
          font-size: 12px;
        }
        
        .academicoCardContainer .imgContainer {
          min-width: 100px;
          height: 50px;
          text-align: center;
          display: flex;
          align-items: center;
        }
        
        .academicoCardContainer .imgContainer h5 {
          font-size: 16px;
          font-weight: normal;
          margin: 0;
          margin-left: 10px;
        }
        
        .academicoCardContainer .imgContainer img {
          max-width: 100px;
          max-height: 50px;
        }
        
        @media (max-width: 800px) {
          .academicoCardContainer {
            margin-bottom: 20px;
          }
        }
        
        .academicoContainer {
          width: 1200px;
          margin: auto;
        }
        .academicoContainer h4 {
          text-align: center;
          font-weight: normal;
          line-height: 1.5;
          font-size: 32px;
        
        }
        .academicoContainer .academicoContentContainer {
          position: relative;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
        }
        .academicoContainer .academicoContentContainer .line {
          position: absolute;
          width: 100%;
          height: 2px;
          top: 100px;
          background-color: rgb(9, 175, 164);
          z-index: 1;
        }
        .academicoContainer .academicoContentContainer .verticalLine {
          position: absolute;
          height: 500px;
          width: 2px;
          right: 172px;
          background-color:rgb(9, 175, 164);
          z-index: 1;
        }
        .academicoContainer .academicoContentContainer .secondLine {
          position: absolute;
          width: 100%;
          height: 2px;
          top: 400px;
          background-color: rgb(9, 175, 164);
          z-index: 1;
        }
        @media (max-width: 800px) {
          .academicoContainer {
            width: 100%;
          }
          .academicoContainer .academicoContentContainer {
            justify-content: center;
          }
        
        }


